:root {
    // #becabe;
    --primary: 190, 202, 190;
    // #181d23;
    --primary-rev: 24, 29, 35;
    // #99b1a3;
    --primary-nu: 153, 177, 163;
    // #4f6e71;
    --primary-nu-rev: 79, 110, 113;

    --bg-opacity: 1
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
}

body, #__nuxt, #__layout {
  min-height: inherit;
  height: inherit;
}

body {
  margin: 0;
  padding: 0;
}

button:focus {
  outline:0;
}

.scrollbar {
  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  &::-webkit-scrollbar-track {
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, .9);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(50, 50, 50, .5);
  }
}

.wrapper {
  display: contents;
}

.btn-icon-show {
  svg {
    visibility: hidden;
    transition: transform .4s, opacity .4s, margin-left .4s;
    opacity: 0;
    transform: translateX(-100%);
    margin-left: 0;
    width: 0 !important;
  }
  &:hover svg {
    width: auto !important;
    margin-left: 1em;
    visibility: visible;
    opacity: 1;
    transform: translateX(0) scale(1.4);
  }
}


svg {
  height: auto;
  display: inline-block;
}

input {
  &:invalid,
  &:-moz-submit-invalid,
  &:-moz-ui-invalid {
    box-shadow: none;
  }
}


.link {
  &::after {
    transition: width .4s, opacity .5s;
    content: '';
    width: 0;
    height: 3px;
    background-color: black;
    display: block;
    border-radius: 3px;
    opacity: 0;
  }
  &.nuxt-link-exact-active::after {
    width: 100%;
    opacity: 1;
  }
  &:not(.nuxt-link-exact-active)
  {
    opacity: .5;
    &:hover {
      opacity: 1;
      &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}
