:root {
    // #becabe;
    --primary: 190, 202, 190;

    // #181d23;
    --primary-rev: 24, 29, 35;

    // #99b1a3;
    --primary-nu: 153, 177, 163;

    // #4f6e71;
    --primary-nu-rev: 79, 110, 113;
}