@import "vue-multiselect/dist/vue-multiselect.min.css";


.multiselect {
  min-width: 120px;
  width: max-content;
}

.multiselect__spinner::after, .multiselect__spinner::before {
  border-top-color: #3182ce;
}

.multiselect__tags, .multiselect__input {
  @apply bg-gray-200
}

.multiselect__tag {
  @apply bg-blue-700;
  @apply text-gray-200;
}
.multiselect__tag-icon::after {
  @apply text-gray-900;
}
.multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
  @apply bg-blue-600;
  @apply text-gray-900;
}

.multiselect__option--highlight {
  @apply bg-blue-600;
  @apply text-gray-900;
}
.multiselect__option--highlight::after {
  @apply bg-blue-500;
  @apply text-gray-900;
}
