
/*
  remove style input
*/

input,
textarea,
select {
  background-color: transparent;
  outline: none;
  filter: none;
  &:invalid, &:-moz-submit-invalid, &:-moz-ui-invalid  {
    box-shadow: none;
  }
  &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
  }
}
