.wrapper {
  display: contents;
}

svg, object {
  width: 1em;
  height: 1em;
  display: inline-block;
}
symbol {
  stroke-width: 1.5;
}

.scrollbar {
  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  // &::-webkit-scrollbar-track {}
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, .9);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(50, 50, 50, .5);
  }
}

.hide-scroolbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* hide the alt attribute */
img, picture {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.__nuxt-error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  .logo {
    display: none;
  }
}

.__nuxt-error-page .logo {
  display: none;
}

select {
  height: 2.5em;
}

.action, .ripple {
  color: rgba(43, 41, 41, 0.966) !important;
}

.ql-container {
  min-height: 100px;
}
